/* h1 {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(113, 42, 184);
    border-radius: 8px;
}  instead of this long syntax we also have short syntax*/
h1 {
    border: 3px solid rgb(193, 14, 193);
    border-radius: 8px;
}

p {
    border-bottom: 3px solid rgb(215, 40, 40);
    border-top: 3px dotted rgb(29, 29, 18);
    border-left: 3px dashed rgb(120, 86, 25);
    border-right: 3px inset rgb(232, 168, 48);
    border-radius: 8px;
}