h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 1em;
    font-weight: bold;
    /* Now for google fonts head to the website fonts.google.com */
    font-family: Roboto;

}